<main class="flex-grow">
  <section class='text-white card-content border-body'>
    <header class="card-header std:flex-row">
      <div class="card-title">
        <h1>
          Disfruta en tu TV.
        </h1>
        <h2>
          Usa la App en tu Smart TV, Chromecast, Apple TV y más.
        </h2>
      </div>
      <div class="card-content__media">
        <div class="card-media">
          <div class='content-media-img-0'>
            <img class="media-img-0" src="../../../../../assets/img/tv.png" class="" alt="">
          </div>
          <div class='content-media-img-1'>
            <img class="media-img-1" src="../../../../../assets/img/collages-booksa.png" class="" alt="">
          </div>
        </div>
      </div>
    </header>
  </section>
  <section class='text-white bg-black card-content border-body'>
    <header class="animation-header std:flex-row-reverse">
      <div class="card-title">
        <h1>
          Descarga tus libros para escucharlos offline
        </h1>
        <h2>
          Guarda tu contenido favorito y tendrás siempre algo para escuchar.
        </h2>
      </div>
      <div class="card-content__animation">
        <div class="animation-media">
          <img class="animation-img-0" src="../../../../../assets/img/harryR.jpg" alt="">
          <div class="bg-black content-animation">
            <div class='content-animation__img-1'>
              <img class="animation-img-1" src="../../../../../assets/img/libro.webp" alt="">
            </div>
            <div class="content-animation__text">
              <div class="animation-text-0">Stanger Things</div>
              <div class="animation-text-1">Descargando...</div>
            </div>
            <div class="gif-download">
            </div>
          </div>
        </div>
      </div>
    </header>
  </section>
  <section class='text-white card-content border-body md:'>
    <header class="card-header std:flex-row">
      <div class="card-title">
        <h1>
          Disfruta donde quieras.
        </h1>
        <h2>
          De Audio Libros ilimitados,en tu teléfono, tablet, computadora y TV sin costo adicional
        </h2>
      </div>
      <div class="card-content__media">
        <div class="card-media">
          <div class='content-media-img-0'>
            <img class="media-img-0" src="../../../../../assets/img/device-pile.png" class="" alt="">
          </div>
          <div class='content-media-video-0'>
            <video class="media-video-0" autoplay muted loop playsinline preload="metadata">
              <source src="../../../../../assets/video/live.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </header>
  </section>
</main>
