<main class="z-0 flex items-start justify-center w-full min-h-screen browse-container hero-image bg-black_body">
  <section class="box-border z-10 pt-24 browse-container md:pt-16">
    <section class="flex flex-col md:w-3/4 efect-transition">
      <div class="browse-title">
        <h1 class="md:text-5xl">Solo en Bootflix</h1>
      </div>
      <p class="browse-sub-title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero amet illum possimus iusto, nemo unde quasi
      </p>
    </section>
    <!--    <div class="boxesContainer">
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <h3>Card One</h3>
            <p>Hover to flip</p>
            <strong>&#x21bb;</strong>
          </div>
          <div class="back">
            <h3>Back Side One</h3>
            <p>Content in card one</p>
            <a href="#">Button 1</a>
          </div>
        </div>
      </div>

      <div class="cardBox">
        <div class="card">
          <div class="front">
            <h3>Card Two</h3>
            <p>Hover to flip</p>
            <strong>&#x21bb;</strong>
          </div>
          <div class="back">
            <h3>Back Side Two</h3>
            <p>Content in card two</p>
            <a href="#">Button 2</a>
          </div>
        </div>
      </div>

      <div class="cardBox">
        <div class="card">
          <div class="front">
            <h3>Card Three</h3>
            <p>Hover to flip</p>
            <strong>&#x21bb;</strong>
          </div>
          <div class="back">
            <h3>Back Side Three</h3>
            <p>Content in card three</p>
            <a href="#">Button 3</a>
          </div>
        </div>
      </div>

      <div class="cardBox">
        <div class="card">
          <div class="front">
            <h3>Card Four</h3>
            <p>Hover to flip</p>
            <strong>&#x21bb;</strong>
          </div>
          <div class="back">
            <h3>Back Side Four</h3>
            <p>Content in card four</p>
            <a href="#">Button 4</a>
          </div>
        </div>
      </div>

    </div> -->
    <!-- ../../../../../assets/img/libros.jpg -->
    <section class="z-20 container__cards" data-dark>
      <h2 class="bg-transparent title-category__card ">Populares en Bootflix</h2>
      <div class="row" id="cards">

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror1.png" alt="">
            <!--   <h6 id="id" class="id">id</h6>
            <p id="price__card" class="price__card">precio</p> -->
            <!--             <button class="btn btn-dark btn-buy">Comprar<i
                class="rounded fa fa-shopping-cart btn btn-dark submit "></i></button> -->
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror2.jpg" alt="">
          </div>
          <div>
            <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
          </div>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror3.jpg" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror4.jpg" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/extinsion.png" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror6.jpg" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror7.jpeg" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror8.jpeg" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

      </div>
    </section>




    <section class="z-20 container__cards" data-dark>
      <h2 class="bg-transparent title-category__card ">Estrenos</h2>
      <div class="row" id="cards">
        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/people" alt="">
            <!--   <h6 id="id" class="id">id</h6>
                <p id="price__card" class="price__card">precio</p> -->
            <!--             <button class="btn btn-dark btn-buy">Comprar<i
                    class="rounded fa fa-shopping-cart btn btn-dark submit "></i></button> -->
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/people" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>
        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/people" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>
        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/people" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>
        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/people" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>
        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/people" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>
        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/people" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>
        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/people" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

      </div>
    </section>



    <section class="z-20 container__cards" data-dark>
      <h2 class="bg-transparent title-category__card ">Programación</h2>
      <div class="row" id="cards">

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/nature" alt="">
            <!--   <h6 id="id" class="id">id</h6>
                <p id="price__card" class="price__card">precio</p> -->
            <!--             <button class="btn btn-dark btn-buy">Comprar<i
                    class="rounded fa fa-shopping-cart btn btn-dark submit "></i></button> -->
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/nature" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/nature" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/nature" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/nature" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/nature" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/nature" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/nature" alt="">
          </div>
          <div>
            <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
          </div>
        </div>

      </div>
    </section>


    <section class="z-20 container__cards" data-dark>
      <h2 class="bg-transparent title-category__card ">Historias de Terror</h2>
      <div class="row" id="cards">

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/tech" alt="">
            <!--   <h6 id="id" class="id">id</h6>
                    <p id="price__card" class="price__card">precio</p> -->
            <!--             <button class="btn btn-dark btn-buy">Comprar<i
                        class="rounded fa fa-shopping-cart btn btn-dark submit "></i></button> -->
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/tech" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/tech" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/tech" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/tech" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/tech" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/tech" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="https://placeimg.com/699/1000/tech" alt="">
          </div>
          <h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5>
        </div>

      </div>
    </section>





  </section>
</main>
