<section class="flex items-end hero-image border-body min-h-home bg-bg_body bg-hero">
  <div class=" hero-content">
    <div class=" hero-image__title">
      <h1 class="mx-auto my-0 text-3xl font-bold text-center text-white md:text-6xl md:w-3/4">
        Audiolibros, revistas ilimitadas y mucho más
      </h1>
      <h2 class="mx-auto my-4 text-xl text-center text-white md:text-3xl ">
        Disfruta donde quieras. Cancela cuando quieras.
      </h2>
    </div>
    <!--     <div class="col-span-2 lg:col-span-3 lg:flex lg:items-end">
      <form class="w-full text-white">
        <label for="email" class="sr-only"> Email </label>

        <div class="p-2 border border-white/10 sm:flex sm:items-center">
          <input
            class="w-full h-12 p-3 text-sm font-medium tracking-widest uppercase bg-transparent border-none placeholder-gray_400"
            type="email" id="email" placeholder="Ingresa tu correo" />

          <button
            class="w-full h-12 px-6 py-3 mt-1 text-sm font-bold tracking-wide uppercase bg-nwred sm:ml-4 sm:mt-0 sm:w-auto sm:flex-shrink-0"
            type="submit">
            Comenzar
          </button>
        </div>
      </form>
    </div> -->
    <section class="email-form__content">
      <h3 class="w-full std:text-xl std:text-center email-title">
        ¿Quieres comenzar tu aventura? <strong>Registrate</strong> o <strong><a class="text-nwred"
            [routerLink]="['/browse']"> Inicia
            Sesión</a></strong> si ya tienes una.
      </h3>
    </section>
  </div>
</section>
